.App-container{
  display: flex;
  justify-content: center;
  
}


.Square{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  height: 300px;
  width: 300px;
  margin-top:10px;

}

.Square input{
  width: 20px;
}

.top-left{
  outline: greenyellow solid 2px;
}

.top-mid{
  outline: aqua solid 2px;
}

.top-right{
  outline: orange solid 2px;
}





.mid-left{
  outline: orange solid 2px;
}

.mid-mid{
  outline: greenyellow solid 2px;
}

.mid-right{
  outline: aqua solid 2px;
}




.bottom-left{
  outline: aqua solid 2px;
}

.bottom-mid{
  outline: orange solid 2px;
}

.bottom-right{
  outline: greenyellow solid 2px;
}